body {
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1f2937;
    color: white;
}


#menu-container {
    display: flex;
    background-color: #1f2937;
    color: white; 
    justify-content: space-between;
    align-items: center;
   
    
}

.header-logo {
   display: flex;
   margin-left: 200px;
}

ul {
    list-style: none;
    font-size: 18px;
    display: flex;
    gap: 30px;
    margin-right: 200px;
    
    }


.img {
    display: flex;
    justify-content: left;
    padding: 10px;
    margin-right: 200px;
    margin-left: 700px;
    margin-top: -450px;
}

.awe {
    display: flex;
    margin-left: 200px;
    margin-right: 700px;
    margin-top: 100px;
    font-size: 23px;
    flex-wrap: wrap;
    margin-bottom: -50px; 
}

.subtext {
    display: flex;
    margin-left: 200px;
    margin-right: 800px;
    padding-top: -300px;
}

.sign-up {
    display: flex;
    font-size: 16px;
    justify-content: center;
    background-color: #3882F6;
    margin-right: 1120px;
    margin-left: 200px;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 200px;
}

.random {
    display: flex;
    background-color: white;
    color:black;
    padding: 40px;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 350px;
    font-size: 30px;
    font-weight: extra-bold;
}

.container {
    display: flex;
    background-color: #ffffff;
    margin-top: -360px;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    

}

.box {
    display: flex;
    background-color: white;
    color: #7c7c7c;
    border-style: solid;
    border-color: #3882F6;
    border-width: 4px;
    border-radius: 15px;
    margin-top: 20px;
    height: 150px;
    width: 150px;
    }

.container2 {
    display: flex;
    color: #1f2937;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: -5px;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

   
}

.box2 {
    height: 100px;
    width: 150px;
    text-align: center;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
}